pg_db=
pg_user=
pg_password=
pg_port=
pg_domain=
db_url=
secret_key_jwt=
algorithm=
mail_username=
mail_password=
mail_from=
mail_port=
mail_server=
redis_url=
redis_port=
api_key=
respective_api_url=
celery_broker_url=
celery_backend=
google_reply_api_key=